:root {
    --bg-dark: #1c1c1c;
    --color-light: #ffffff;
}

body {
    background-color: var(--bg-dark);
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: var(--color-light);
    letter-spacing: .1rem;
}

h1 {
    font-size: 7rem;
    font-weight: 700 !important;
}

.lead {
    font-size: 1.8rem;
    font-weight: 200;
}

a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-light);
}

.bg-dark { background-color: var(--bg-dark) !important; }

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    position: relative;
    min-height: 800px;
} 

.hero-btn {
    position: absolute;
    background-color: var(--bg-dark);
    color: var(--color-light);
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
    border-radius: 0;
}

.hero-btn:hover {
    background-color: var(--bg-dark);
    color: var(--color-light);
    opacity: .95; 
}

.btn-primary {
    background-color: var(--color-light);
    color: var(--bg-dark);
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: var(--color-light);
    color: var(--bg-dark);
    opacity: .9;
    border: 0;
}

.btn-sm {
    padding: .5rem 1rem !important;
}

.navbar {
    min-height: 5rem;
}

.nav-btn {
    -webkit-appearance: none;
}

.nav-link {
    color: var(--color-light);
    transition: all .4s;
}

.nav-link:hover {
    color: var(--color-light);
    -webkit-text-fill-color: var(--color-light);
    text-fill-color: var(--color-light);
    cursor: pointer;
    text-shadow: none;
    transition: all .4s;
}

.logo {
    min-width: 160px;
    max-width: 180px;
}

.outline {
    color: var(--bg-dark);
    -webkit-text-stroke: 1px var(--color-light);
    text-stroke: 1px rgb(17, 15, 15);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
}

.modal {
    background-color: var(--bg-dark); 
}

.modal-content {
    background-color: var(--bg-dark);
    border: 0;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

#call-to-action {
    background-color: #efefef;
}

@media (max-width: 575.98px) {  
    .navbar, .content {
        padding: 0 1rem !important;
    }
}

@media (max-width: 768px) {
    .hero {
        margin-top: 3rem;
    }
}